<footer>
    <h4>Liên hệ</h4>
    <div class="contact flex">
        <div class="info">
            <p><strong>Hotline:</strong> <a href="tel:1900 636052">1900 636052</a>   <span class="space">|</span>  <a href="mailto:monkeyxinchao@monkey.edu.vn">monkeyxinchao@monkey.edu.vn</a></p>
            <p>[ 7:00 - 22:00 các ngày trong tuần ]</p>
        </div>
        <div class="social flex ml-auto">
            <a href="" title="" class="facebook">facebook</a>
            <a href="" title="" class="group">group</a>
            <a href="" title="" class="youtube">youtube</a>
        </div>
    </div>
</footer>