<header>
    <nav class="navbar">
        <a href="" class="logo"><img src="./assets/img/logo.png" alt=""></a>
        <div class="gold flex ml-auto">
            <div class="icon"><img src="./assets/img/gold.png" alt=""></div>
            42
        </div>
        <div class="avatar pr">
            <div class="avatar__img"><img src="./assets/img/avatar.png" alt=""></div>
            <div class="avatar__dropdown">
                <div class="item">
                    <span>Bé ... </span>
                    <img src="./assets/img/avatar.png" alt="">
                </div>
                <div class="item">
                    <span>Bé ... </span>
                    <img src="./assets/img/avatar.png" alt="">
                </div>
            </div>
        </div>
    </nav>
    <div class="modal-mk"></div>
</header>