<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/highcharts.js"></script>
<script>
    $(document).ready(function () {
        $('.report__week').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: false,
            centerPadding: 0,
            fade: false,
            dots: false,
            arrows: true
        });

        $('.program__list').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: false,
            centerPadding: 0,
            fade: true,
            dots: true,
            arrows: true
        });

        $('.avatar__img').on('click',function () {
            $('.avatar__dropdown,.modal-mk').addClass('show');
        });
        $('.modal-mk').on('click',function () {
            $('.avatar__dropdown,.modal-mk').removeClass('show');
        });

        $('.avatar__dropdown .item').on('click',function () {
            let avatar = $(this).find('img').attr('src');
            let htmavatar = `<img class="animated zoomIn" src="${avatar}" />`;
            $('.avatar__img').html('').append(htmavatar);
            $('.avatar__dropdown,.modal-mk').removeClass('show');
        });
    });

    Highcharts.chart('chart', {
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'CN',
                'T2',
                'T3',
                'T4',
                'T5',
                'T6',
                'T7'
            ],
            crosshair: true,
            labels: {
                style:{
                    color: '#666',
                    fontSize: '17px',
                    fontWeight: '500',
                    fontFamily: 'Montserrat',
                },
                y: 32
            },

        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            labels: {
                formatter: function () {
                    return this.value + 'ph';
                },
                style:{
                    color: '#666',
                    fontSize: '17px',
                    fontWeight: '500',
                    fontFamily: 'Montserrat'
                },
                x: -20
            },
            gridLineWidth: 1.5,
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} ph</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.07,
                borderRadius: 5,
                borderWidth: 0,
                states:{
                    hover:{

                    }
                }
            },

        },
        series: [{
            name: 'Tuần này',
            data: [4, 10, 20, 15, 30, 40, 35],
            color: '#92c83e',
            states: { hover: { enabled: false } },
        }, {
            name: 'Tuần trước',
            data: [5, 15, 10, 25, 20, 40, 35],
            color: '#e6e6e6',
            states: { hover: { enabled: false } },
        }]
    });
</script>
</body>
</html>