<main>
    <div class="report flex">
        <h1>Báo cáo học tập bé...</h1>
        <div class="report__week">
            <div class="item">Tuần: <time>24/05 - 30/05, 2021</time></div>
            <div class="item">Tuần: <time>30/05 - 06/06, 2021</time></div>
        </div>
    </div>
    <div class="statistical box-wt flex">
        <div class="statistical__summary">
            <h4>Số ngày học</h4>
            <span>6/7</span>
            Ngày
        </div>
        <ul class="statistical__checklist flex">
            <li>
                <h5>CN</h5>
                <span class="check"></span>
            </li>
            <li>
                <h5>T2</h5>
                <span class="check active"></span>
            </li>
            <li>
                <h5>T3</h5>
                <span class="check active"></span>
            </li>
            <li>
                <h5>T4</h5>
                <span class="check active"></span>
            </li>
            <li>
                <h5>T5</h5>
                <span class="check active"></span>
            </li>
            <li>
                <h5>T6</h5>
                <span class="check active"></span>
            </li>
            <li>
                <h5>T7</h5>
                <span class="check active"></span>
            </li>
        </ul>
    </div>
    <div class="chart box-wt flex">
        <div class="chart__left">
            <h4>Thời gian học</h4>
            <div class="time flex">2 <span>giờ</span></div>
            <div class="time flex">9 <span>phút</span></div>
            <div class="statis"><span>Tăng 127 phút</span> so với tuần trước</div>
        </div>
        <div class="chart__right">
            <ul class="chart__note">
                <li class="tw">Tuần này <time>2 giờ 9 phút</time></li>
                <li>Tuần trước <time>0 giờ 2 phút</time></li>
            </ul>
            <div id="chart" style="height: 280px; margin-bottom: -35px"></div>
        </div>
    </div>
    <div class="program box-wt">
        <div class="program__list">
            <div class="item">
                <div class="header flex">
                    <div class="flag"><img src="./assets/img/flag.png" alt=""></div>
                    <h2 class="title">CHƯƠNG TRÌNH ANH — MỸ</h2>
                </div>
                <div class="list flex">
                    <div class="item">
                        <div class="icon"><img src="./assets/img/icon1.png" alt=""></div>
                        <div class="content">
                            <p>Số từ vựng đã học</p>
                            <span>20 <small>từ</small></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="./assets/img/icon2.png" alt=""></div>
                        <div class="content">
                            <p>Số từ câu đã học</p>
                            <span>5 <small>câu</small></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="./assets/img/icon3.png" alt=""></div>
                        <div class="content">
                            <p>Số bài học</p>
                            <span>6 <small>bài</small></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="./assets/img/icon4.png" alt=""></div>
                        <div class="content">
                            <p>Số chủ đề</p>
                            <span>2 <small>chủ đề</small></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="header flex">
                    <div class="flag"><img src="./assets/img/flag.png" alt=""></div>
                    <h2 class="title">CHƯƠNG TRÌNH ANH — Việt</h2>
                </div>
                <div class="list flex">
                    <div class="item">
                        <div class="icon"><img src="./assets/img/icon1.png" alt=""></div>
                        <div class="content">
                            <p>Số từ vựng đã học</p>
                            <span>20 <small>từ</small></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="./assets/img/icon2.png" alt=""></div>
                        <div class="content">
                            <p>Số từ câu đã học</p>
                            <span>5 <small>câu</small></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="./assets/img/icon3.png" alt=""></div>
                        <div class="content">
                            <p>Số bài học</p>
                            <span>6 <small>bài</small></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="./assets/img/icon4.png" alt=""></div>
                        <div class="content">
                            <p>Số chủ đề</p>
                            <span>2 <small>chủ đề</small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment box-wt">
        <h2 class="title">NHẬN XÉT CHUNG CHO BÉ</h2>
        <div class="content">
            <p>Bé không học cả tuần làm Khỉ Con buồn lắm đó! :( Để giỏi tiếng Anh, bé cần học đều đặn, siêng năng mỗi ngày để xây dựng thói quen học tập tích cực. Cùng Khỉ Con đặt mục tiêu học chăm 7/7 ngày trong tuần tới, bé nhé!</p>
            <p>Bé hãy mở ngay một bài học và học cùng khỉ con nào!</p>
        </div>
    </div>
    <a href="" title="" class="btn_feedback flex"><span class="flex-center">Feedback</span><i class="icon"></i></a>
</main>