body{
  width: 100%;
  background: url("#{$img-path}/bg-landing.jpg") no-repeat 0 0/cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #666666;
  line-height: 1.4;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

@font-face {
  font-family: monkeyheader;
  src: url('#{$font-path}/monkeyheader.otf');
}

body.modal-open {
  overflow-y: inherit;
  padding-right: 0 !important;
}
a:hover{text-decoration: none;}
a{transition: .26s;}
img{max-width: 100%;}
%hover{-webkit-filter: saturate(1.6); filter: saturate(1.6);}

@mixin left{
  width: 298px;
  padding: 25px 0 25px 50px;
  font-weight: 500;
  font-size: 20px;
  border-right: 2px solid #ccc;
  h4{text-transform: uppercase; font-weight: 700; font-size: 20px;}
}

//header
header{
  .navbar{height: 90px; background: #fff; padding: 0 64px 0 74px;}
  .gold{
    align-items: center; font-weight: 700; font-size: 31px; color: #ffa900;
    .icon{width: 33px; margin-right: 12px;}
  }
  .avatar{
    &__img{width: 63px; margin-left: 24px; cursor: pointer;}
    &__dropdown{
      display: none;
      margin-top: 22px;
      position: absolute; right: 62px; z-index: 9;
      .item{display: flex; align-items: center; margin-bottom: 20px; cursor: pointer;}
      img{width: 63px; margin-left: -30px;}
      span{
        height: 48px;
        padding: 0 50px 0 20px;
        border-radius: 10px;
        background: #fff;
        white-space: nowrap;
        font-weight: 500;
        font-size: 20px;
        line-height: 48px;
        color: #666666;
      }
      &.show{display: block;}
    }
  }
}

//main
.report{
  min-height: 248px;
  flex-direction: column;
  justify-content: center;
  background: url("#{$img-path}/bg-g.jpg") no-repeat 0 0/cover;
  text-align: center;
  color: #fff;
  h1{margin-bottom: 19px; font: 70px/1 monkeyheader, sans-serif; text-transform: uppercase;}
  &__week{
    width: 390px; margin: 0 auto;
    .item{font-size: 30px;}
    time{font-weight: 700;}
  }
  .slick-next{right: -50px;}
  .slick-prev{left: -50px;}
}
.statistical{
  min-height: 249px;
  padding: 25px 0;
  &__summary{
    @include left;
    span{display: block; font-weight: 700; font-size: 70px;}
  }
  &__checklist{
    width: calc(100% - 298px);
    justify-content: center;
    align-items: center;
    >*+*{margin-left: 30px;}
    li{text-align: center;}
    h5{display: block; margin-bottom: 20px; font-weight: 500; font-size: 20px;}
    .check{
      width: 52px; height: 52px; display: block; background: #e6e6e6; border-radius: 50%;
      &.active{background: url("#{$img-path}/tick.png") no-repeat 0 0/contain;}
    }
  }
}
.chart{
  padding: 55px 0;
  .time{
    margin-top: 10px;
    align-items: flex-end;
    font-size: 70px; font-weight: 700;
    line-height: 1;
    span{margin-bottom: 5px; font-size: 40px; font-weight: 800; text-transform: uppercase;}
  }
  .statis{
    margin-top: 100px;
    font-weight: 500;
    font-size: 20px;
    span{font-weight: 700;}
  }
  &__left{
    @include left;
  }
  &__right{
    width: calc(100% - 298px); padding: 22px 50px 0;
  }
  &__note{
    margin-bottom: 90px;
    li{display: flex; align-items: center; margin-bottom: 16px; font-size: 20px; font-weight: 700;}
    li::before{
      content: "";
      width: 25px; height: 25px; display: block;
      margin-right: 10px;
      border-radius: 50%;
      background: #e6e6e6;
    }
    time{margin-left: auto;}
    .tw{
      color: #92c83e;
      &::before{background: #92c83e;}
    }
  }
}
.program{
  padding: 30px 50px 40px;
  .header{
    margin-bottom: 55px;
    padding: 0 100px 26px 30px;
    align-items: center;
    border-bottom: 2px solid #ccc;
    .flag{width: 71px; margin-right: 78px;}
    .title{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
    }
  }
  &__list{
    .icon{width: 163px; margin: 0 auto;}
    .content{text-align: center; font-weight: 500;}
    .list{
      .item{padding: 0 5px; width: 25%;}
    }
    p{margin-bottom: 3px; font-size: 20px;}
    span{display: flex; align-items: flex-end; justify-content: center; font-size: 50px; font-weight: 700; line-height: 1;}
    small{margin: 0 0 3px 7px; font-size: 35px; font-weight: 800;}
  }
  .slick-dots{
    display: flex;
    margin-top: 58px;
    justify-content: center;
    width: 100%;
    li{margin: 0 8px;}
    button{
      width: 20px; height: 20px;
      padding: 0;
      background: #fff;
      border-radius: 50%;
      border: 2px solid #ccc;
      font-size: 0;
    }
    .slick-active button{background: #92c83e; border: none;}
  }
  .slick-arrow{top: 10px; transform: translateY(0);}
  .slick-next{right: 0;}
  .slick-prev{right: 50px; transform: translateY(0) rotate(180deg);}
}
.comment{
  padding: 0 50px;
  .title{padding: 30px 0; text-align: center; border-bottom: 2px solid #ccc;}
  .content{padding: 35px 0 45px; font-size: 20px; font-style: italic; font-weight: 500; line-height: 32px; text-align: center;}
}
.box-wt{
  max-width: 989px;
  margin: 60px auto 0;
  background: #fff;
  border-radius: 32px;
}
.btn_feedback{
  margin-top: 22px;
  justify-content: center;
  &:hover{
    span{background: #84bc2c;}
  }
  .icon{
    width: 45px; height: 45px; display: block;
    margin-left: 10px;
    border-radius: 50%;
    background:#92c83e url("#{$img-path}/link.png") no-repeat center center;
  }
  span{
    width: 185px; height: 45px;
    border-radius: 9999px;
    background: #92c83e;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    transition: .3s;
  }
}


//custom hightchart
.highcharts-legend,.highcharts-credits,.highcharts-tick{display: none;}

//modal
.modal-mk{
  width: 100%; height: 100%; display: none;
  position: fixed; top: 0; left: 0;
  background: rgba(#000,.6); z-index: 8;
  &.show{display: block;}
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


//footer
footer{
  margin-top: 85px;
  background: #92c83e;
  padding: 0 0 20px;
  h4{
    padding: 22px 0;
    background: url("#{$img-path}/line.png") no-repeat bottom center;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font: 29px/1.2 monkeyheader, sans-serif;
  }
  .contact{
    max-width: 725px;
    align-items: center;
    margin: 0 auto;
    padding: 25px 15px;
    color: #fff;
    p{margin-bottom: 4px; font-weight: 500; font-size: 14px;}
    a,strong{color: #fff; font-weight: 700; font-size: 16px;}
  }
  .social{
    a{width: 40px; height: 40px; display: block; font-size: 0; margin-left: 12px;}
    .facebook{background: url("#{$img-path}/facebook.png") no-repeat 0 0/contain;}
    .group{background: url("#{$img-path}/group.png") no-repeat 0 0/contain;}
    .youtube{background: url("#{$img-path}/yt.png") no-repeat 0 0/contain;}
  }
  .space{padding: 0 20px; font-weight: 700;}
}

//uikt
.pr{position: relative;}
.icon{display: block;}
button{
  border: none;
  cursor: pointer;
  &:focus{outline: none;}
}
h2.title{
  font: 50px/1 monkeyheader, sans-serif;
  color: #92c83e;
  text-transform: uppercase;
}
.slick-arrow{
  width: 35px; height: 35px;
  background: url("#{$img-path}/next.png") no-repeat 0 0/contain;
  padding: 0;
  font-size: 0;
  position: absolute; top: 50%; transform: translateY(-50%); z-index: 2;
}
.slick-prev{transform: translateY(-50%) rotate(180deg);}



@media (max-width: 768px){
  @mixin left{
    width: 35%;
    padding: 15px 0 15px 30px;
    font-size: 18px;
    border-right: 2px solid #ccc;
    h4{font-size: 18px;}
  }
  header{
    .navbar{height: 70px; padding: 0 20px;}
    .logo{width: 170px;}
    .avatar{
      &__img{width: 50px; margin-left: 15px;}
      &__dropdown{
        right: 50px;
        .item{margin-bottom: 15px;}
        span{height: 44px; line-height: 44px; font-size: 18px;}
        img{width: 50px;}
      }
    }
    .gold{
      font-size: 26px;
      .icon{width: 30px; margin-right: 10px;}
    }
  }
  .box-wt{max-width: calc(100% - 30px);}
  .report{
    min-height: 220px;
    padding: 15px;
    h1{font-size: 60px;}
    &__week{
      width: 360px;
      .item{font-size: 26px;}
    }
  }
  .statistical{
    min-height: auto;
    padding: 25px 0;
    &__summary{
      @include left;
      span{font-size: 60px;}
    }
    &__checklist{
      width: calc(100% - 35%);
      >*+*{margin-left: 25px;}
      h5{margin-bottom: 15px; font-size: 18px;}
      .check{width: 40px; height: 40px;}
    }
  }
  .chart{
    padding: 40px 0;
    .time{
      margin-top: 10px;
      font-size: 60px;
      span{margin-bottom: 5px; font-size: 30px;}
    }
    .statis{font-size: 18px;}
    &__left{@include left;}
    &__right{width: calc(100% - 35%); padding: 22px 22px 0;}
    &__note{
      margin-bottom: 50px;
      li{margin-bottom: 10px; font-size: 18px;}
      li::before{width: 21px; height: 21px;}
    }
  }
  .program{
    padding: 30px;
    .header{
      padding-left: 50px;
      margin-bottom: 40px;
      .flag{width: 50px; margin-right: 30px;}
    }
    &__list{
      p{margin-bottom: 5px; font-size: 16px;}
      span{font-size: 40px;}
      small{font-size: 27px;}
    }
    .slick-dots{margin-top: 40px;}
  }

  h2.title{font-size: 45px;}
}

@media (max-width: 680px){
  @mixin left{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-right: none;
    h4{font-size: 16px;}
  }
  header{
    .navbar{height: 65px; padding: 0 15px;}
    .logo{width: 150px;}
    .avatar{
      &__img{width: 40px; margin-left: 10px;}
      &__dropdown{
        margin-top: 15px;
        right: 40px;
        .item{margin-bottom: 10px;}
        span{height: 35px; line-height: 35px; padding-left: 15px; font-size: 16px;}
        img{width: 40px;}
      }
    }
    .gold{
      font-size: 22px;
      .icon{width: 26px; margin-right: 5px;}
    }
  }
  .box-wt{max-width: calc(100% - 20px); margin-top: 30px; border-radius: 20px;}
  .report{
    min-height: 160px;
    h1{font-size: 32px;}
    &__week{
      width: 260px;
      .item{font-size: 18px;}
    }
    .slick-next{right: -25px;}
    .slick-prev{left: -25px;}
  }
  .statistical{
    padding: 25px 0;
    &__summary{
      @include left;
      padding-top: 0;
      margin-bottom: 15px;
      span{font-size: 50px;}
    }
    &__checklist{
      width: 100%;
      >*+*{margin-left: 12px;}
      h5{font-size: 16px;}
      .check{width: 32px; height: 32px;}
    }
  }
  .chart{
    padding: 20px 0 0;
    overflow: hidden;
    .time{
      font-size: 50px;
      span{font-size: 25px;}
    }
    .statis{margin-top: 30px; font-size: 16px;}
    &__left{@include left;}
    &__right{width: 100%; padding: 15px;}
    &__note{
      li{font-size: 16px;}
      li::before{width: 18px; height: 18px;}
    }
  }
  .program{
    padding: 15px 15px 30px;
    .header{
      padding: 5px 50px 20px 0;
      margin-bottom: 20px;
      .flag{width: 30px; margin-right: 10px;}
      h2.title{margin-top: -4px; font-size: 21px; line-height: 30px;}
    }
    &__list{
      .icon{width: auto;}
      p{min-height: 30px; font-size: 11px;}
      span{font-size: 22px;}
      small{margin: 0 0 2px 3px; font-size: 15px;}
    }
    .slick-dots{
      margin-top: 30px;
      li{margin: 0 6px;}
      button{width: 18px; height: 18px;}
    }
    .slick-arrow{top: 5px;}
    .slick-next{right: -10px;}
    .slick-prev{right: 20px;}
  }
  .comment{
    padding: 0 15px;
    .title{padding: 20px 0;}
    .content{font-size: 16px; line-height: 28px;}
  }
  footer{
    .social{
      margin-top: 30px; width: 100%;
      a{margin: 0 10px 0 0;}
    }
  }

  h2.title{font-size: 26px;}
  .slick-arrow{width: 30px; height: 30px;}
}